<html>
    <head>
        <title>{{ title }}</title>
        {% css assets/css/style.css %}
    </head>
    
    <body>
        <h1>{{ header }}</h1>
        {% if !logged_in %}
            <form action="/login" method="POST">
                Username: <input type="text" name="username" /><br />
                Password: <input type="password" name="password" /><br />
                <input type="submit" value="Submit" />
            </form>
        {% else %}
            <img src="assets/img/dog.jpg" /><br />
            <h2>Secret dog picture shhhh</h2>
            {% foreach users as user %}
                <h1>{{ user.id }}: {{ user.username }}</h1>
                <h2>{{ user.email }}</h2>
            {% endforeach %}

            <a href="./logout">Logout</a>
        {% endif %}
        
        
    </body>
</html>