<html>
    <head>
        <title>{{ title }}</title>
        {% css assets/css/style.css %}
    </head>
    
    <body>
        <h1>{{ header }}</h1>
        {% if logged_in %}
            <img src="assets/img/dog.jpg" /><br />
            <h2>Secret dog picture shhhh</h2>
        {% else %}
            {% foreach users as user %}
                <h1>{{ user.id }}: {{ user.name }}</h1>
                <h2>{{ user.email }}</h2>
            {% endforeach %}
        {% endif %}
        
    </body>
</html>